<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<h1>Salesperson</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Phone</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @salespeople.each do |salesperson| %>
      <tr>
        <td><%= salesperson.last_name %></td>
        <td><%= salesperson.first_name %></td>
        <td><%= salesperson.phone %></td>
        <td><%= link_to 'Edit', edit_salesperson_path(salesperson), :class => 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Delete', salesperson, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => 'btn btn-danger btn-sm'%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Salesperson', new_salesperson_path, :class => 'btn btn-primary' %>
