<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<h1><%= @salesperson.full_name%></h1>
<hr>

<p>
  <strong>Phone:</strong>
  <%= @salesperson.phone %>
</p>

<%= link_to 'Edit', edit_salesperson_path(@salesperson), :class => 'btn btn-primary btn-sm' %> |
<%= link_to 'Go Back', salespeople_path, :class => 'btn btn-primary btn-sm' %>
