<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<h1><%= @customer.full_name%></h1>
<hr>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer), :class => 'btn btn-primary btn-sm' %> |
<%= link_to 'Go Back', customers_path, :class => 'btn btn-primary btn-sm' %>
