<h2>Amortization Schedule</h2>
<table class="table table-striped table-hover">
  <th>Month</th>
  <th>Payment</th>
  <th>Interest</th>
  <th>Principal</th>
  <th>Loan Balance</th>
  <% @loan_array.each_slice(5) do |p|  %>
      <tr class="info">
        <% p.each do |a| %>
            <td> <%= a %></td>
        <% end %>
  <% end %>

</table>