<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<h1>Loans</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Car Price</th>
    <th>Down Payment</th>
    <th>Principal Balance</th>
    <th>Loan Term (years)</th>
    <th>Interest Rate (%)</th>
    <th>Monthly Payment</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.quote.quote_info %></td>
        <td><%= number_to_currency(loan.down_payment) %></td>
        <td><%= number_to_currency(loan.loan_amount) %></td>
        <td><%= loan.term %></td>
        <td><%= number_to_percentage(loan.interest_rate, precision: 2) %></td>
        <td><%= number_to_currency(loan.monthly_payment) %></td>
        <td><%= link_to 'Show', loan, :class => 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan), :class => 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Delete', loan, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => 'btn btn-danger btn-sm'%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Loan', new_loan_path, :class => 'btn btn-primary' %>
