<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Retailprice:</strong>
  <%= number_to_currency(@car.retailprice) %>
</p>

<p>
  <strong>Markupprice:</strong>
  <%= number_to_currency(@car.markupprice) %>
</p>

<p>
  <strong>Carstatus:</strong>
  <%= @car.boolean_name %>
</p>

<%= link_to 'Edit', edit_car_path(@car), :class => 'btn btn-primary btn-sm' %> |
<%= link_to 'Go Back', cars_path, :class => 'btn btn-primary btn-sm' %>
